!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/revealjs/css/reset.css')
    link(rel='stylesheet', href='/revealjs/css/main.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/revealjs/lib/css/zenburn.css')
  body
    block content
  